@model IEnumerable<HomeTG.Models.CollectionCardWithDetails>

<div id="listjs-grid">
    <div class="input-group">
        <input class="search form-control" placeholder="Quick filter" />
    <span class="btn btn-secondary sort" data-sort="name">Sort by name</span>
    <span class="btn btn-secondary sort" data-sort="setCode">Sort by set</span>
    </div>
    <div class="card-grid list">
        @if (Model.Count() == 0)
        {
            await Html.RenderPartialAsync("CardWithDetails", new HomeTG.Models.CollectionCardWithDetails(
                new HomeTG.Models.Card("", "Empty List", "", "", null, null, null, null),
                new HomeTG.Models.CollectionCard()
            ));
        } else {
            @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("CardWithDetails", item);
            }
        }
    </div>
</div>